/*DIV DO CONTATO*/
#contato
  {position: static;
    width: 543px;
    height: 543px;
    top: 1000px;  
    background: #6C63FF;
    box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.9);
    border-radius: 30px;
    color: #FFF;
   font-weight: 800;
   float: right;  
  
  }
  /*DIV DO FLYER*/
  .flamboyant
{

  position: static;
  width: 503px;
  height: 720px;
  left: 81px;
  top: 3619px;
  
background: #FBFBFB;
box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.4);
border-radius: 30px;
}

  /*NAVBAR*/
.navbar
{
  font-family: "Gurajada";
  color: #000;
}
#navbar {
  background-color: #FFF; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
 
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  
}

#navbar a:hover {
  background-color: #ddd;
  color: #3634C7;
}
/*FONTE DOS TEXTOS DO SITE*/
p, section
{
  font-family: "Inter";
}

/* TOGGLE SWITCH - IDIOMAS*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}


.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5D5FEF;
  border-radius: 30px;

}

input:focus + .slider {
  box-shadow: 0 0 1px #5D5FEF;
  border-radius: 30px;

}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  border-radius: 30px;

}

/*FONTS*/
@font-face {
  font-family: "Gurajada";
  src: url(/Fonts/Gurajada-Regular.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(/Fonts/Inter.ttf);
}

textarea
{

  border: 1px solid #000000;
box-shadow: -4px 4px 0px #000000;
}